<h1 class="titulos">Probando Ruby on Rails</h1>
<h1 class="titulos">Segundo titulo</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<hr>

<h2 style="color:grey">Subtitulo</h2>
<hr>
<br>

<ol>
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
	<li>Item 4</li>
</ol>

<p>Find me in app/views/welcome/index.html.erb</p>
<a href="https://google.cl" target="_blank">Google</a>
<p></p>

<a href="http://intel.com">
	<img src="https://i.blogs.es/ac4fac/intel4/1366_2000.jpg"
	alt="Logo Intel">
</a>
 